@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

* {
  box-sizing: border-box;
}

body {
  font-family: 'Indie Flower', cursive;
}

input,
button,
textarea,
select {
  font: inherit;
  border: none;
  background-color: black;
  color: aliceblue;
}

.container {
  max-width: 400px;
}
