body {
  margin: 0;
  padding: 0;
}

.header {
  padding: 20px;
  background-color: #333333;
  color: whitesmoke;
}

.container {
  padding: 2em;
  display: grid;
  place-content: center;
  height: 90vh;

}