/* Your CSS goes here */

section {
  max-width: 400px;
  margin: auto;
}

header {
  text-align: center;
  margin-bottom: 24px;
}

.link {
  color: var(--beige) !important;
}

form {
  margin-top: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  width: 100%;
  padding: 8px;
  background-color: var(--charcoal);
  border-radius: 8px;
}

form:focus-within {
  outline: 1px solid var(--border-color);
}

form button {
  flex: 1;
  white-space: nowrap;
}

input {
  width: 100%;
  background: var(--charcoal);
}

input::placeholder {
  color: rgb(249, 244, 218, 0.5);
}

ul {
  padding: 0;
  margin: 0;
  margin-top: 24px;
  display: grid;
  gap: 16px;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--purple);
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
}

li div {
  display: flex;
  align-items: center;
  gap: 12px;
}

.status {
  width: 24px;
  height: 24px;
  padding: 0px;
  border-radius: 50%;
  border: 1px solid var(--beige);
  background: transparent;
  position: relative;
}

.status.completed {
  background: var(--yellow);
  border-color: var(--charcoal);
}

.status.completed:after {
  content: "\2713";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
