#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
article {
  padding: 24px;
}

article div {
  border: 1px solid var(--border-color);
  border-radius: 12px;
  padding-left: 16px;
  padding-right: 16px;
  max-width: 600px;
}

form {
  display: flex;
  gap: 16px;
  position: relative;
  padding-bottom: 16px;
}

form button {
  position: absolute;
  right: 7px;
  top: 1px;
  border-radius: 2px;
  padding: 4px;
  font-weight: bold;
}

ul {
  margin: 0;
  padding: 0;
  height: 300px;
  overflow: auto;
  display: flex;
  flex-direction: column;
}

li {
  display: inline-flex;
  align-self: flex-start;
  background: var(--charcoal);
  padding: 8px 12px;
  border-radius: 8px 8px 8px 0px;
  margin-top: 16px;
  font-size: 14px;
  max-width: 400px;
}

li:nth-child(2n) {
  border-radius: 8px 8px 0px 8px;
  align-self: flex-end;
  background: var(--purple);
  color: var(--charcoal);
}

li:last-child {
  margin-bottom: 20px;
}
