@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

.App {
  text-align: center;
  font-family: 'Oswald', sans-serif;
}

body {
  margin: 0 auto;
  padding: 0;
  height: 100vh;
}

html {
  height: 100vh;
}

.image {
  width: 100%;
}

.flex {
  display: flex;
  align-items: center;
}

header {
  background-color: burlywood;
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  justify-content: flex-end;
}

a {
  text-decoration: none;
  color: black;
  list-style: 0;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.card {
  width: 20%;
  height: 20%;
  background: burlywood;
  border-radius: 25px;
  margin: 0 auto;
  box-shadow: ;
}

.card__image {
  border-radius: 25px;
  width: 100%;
}

.card__info {
  padding: 2em 1.5em;
  text-align: left;
}

.card__title {
  margin: 0;
  padding: 0;
  font-size: 1.4rem;
}