.box {
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.box--large {
  width: 300px;
  height: 300px;
}

.box--medium {
  width: 210px;
  height: 210px;
}

.box--small {
  width: 120px;
  height: 120px;
}
