@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  margin: 0;
}

body {
  font-family: 'Dela Gothic One', cursive;
  text-align: center;
}

.btn {
  font-size: 20rem;
  background: black;
  color: white;
  width: 30rem;
}
