.App {
  text-align: center;
  background-color: #e4e4e4;
}

.color-black {
  color: black;
}

.color-red {
  color: red;
  font-size: 45rem;
}

.title {
  font-size: 4rem;
}

.btn {
  padding: 2.5em;
  margin: 2.5em;
  border-radius: 50%;
  font-size: 1.2rem;
  border: none;
  text-align: center;
}

.btn:focus,
.btn:active {
  border: 2px solid black;
  outline: 0;
}

.btn-red {
  background-color: red;
  color: #fff;
}

.btn-yellow {
  background-color: yellow;
}

.btn-reset {
  background-color: black;
  color: #fff;
}

.button__area {
  display: flex;
  justify-content: center;
}