* {
  box-sizing: border-box;
}

.boxes {
  display: flex;
  gap: 20px;
}

.box {
  height: 100px;
  width: 100px;
  border: 1px solid black;
  display: inline-block;
  margin-right: 4px;
  background-color: transparent;
}
